.containerCoinDetails{
    width: 100%;
}

.keyStats h3{
    margin-bottom: 1vmin;
    font-size:medium;

}

.keyStats p{
    font-size:x-large;
    font-weight: 400;
}

.keyStats small{
    font-size:small;
    margin-left: 4px;
}

.about h3{
    margin-bottom: 1vmin;
    font-size:medium;
}

.about a{
    color: rgb(26, 39, 183);
    font-size:x-large;
    font-weight: 400;
}



.chartTime{
    width: 100%;
    display: flex;
    border: 1px solid red;
}