*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.mySpinner{
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  height: 80vh;
}

.errorMsg{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  padding-top: 150px;
  background-image: url(../public/1710491240575.jpg);
  height: 92vh;
  text-align: center;
  background-size:cover;
  background-repeat:no-repeat;
  font-size: 10vmin;
  color: rgb(198, 125, 56);
}




.myNavbar{
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.selectCurrency{
  background-color: white;
  border: none;
  margin-top: 2.5px;
}

.heroSection{
  width: 100%;
  height: 100vh;
  padding-top: 15vh;
  /* background-image: url(/public/heroImage.jpg); */
  background-color: white;

}

.heroSearch{
  height: 60px;
  width: 80vmin;
  border: 3px solid transparent;
  border-radius: 20px;
  padding-left: 20px;
  color: white;
  font-size: larger;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(2, 2, 2)), 
                    linear-gradient(to right, rgb(235, 38, 38), rgb(120, 13, 235));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  cursor:default;
  
}

.heroSearch:focus{
  outline: none;
}

.heroSearch:hover{
  box-shadow: 0px 0px 8px rgb(255, 48, 48);
}


.heroSearchResults{
  width: 80vmin;
  margin-top: 1rem;
  max-height: 300px;
  border-radius: 10px;
  background-color: white;
  overflow-y:scroll;
  position: relative;
  z-index: 2;
}
.resultItem{
  font-size: 25px;
  text-align: left;
  border-radius: 5px;
  height: 50px;
  margin: 0px 20px;
  margin-top: 10px;
}

.resultItem:hover{
  background-color: rgb(210, 210, 210);
}

.myCarousel{
  padding: 2vmin 4vmin;
}
.carouselItem{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10vw;
}



.rankingSection{
  margin-top: 10vh;
}

.rankingSection h2{
  margin: 0 0 20px 15px;
}



.coinStats{
  width: 30%;
}



/*--------------coin page------------*/

.singleCoinPage{
  width: 100%;
  margin-top: 10vh;
}


.coinTopDetail{
  display: flex;
  align-items: center;
}

.flipCoin:hover{
  transform: rotateY(360deg);
  transition: 2s all ease;
}



@media screen and (max-width: 600px) {
  .heroSection{
    height: 100vh;
    padding-top: 15vh;

  }
  .footer{
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .errorMsg{
    background-image: url(../public/1710491240596.jpg);
    
  }
  .heroSearchResults{
    max-height: 200px;
  }
}

@media screen and (min-width: 980px) {
  .carouselItem{
    width: 18.5vw;
  }
}